<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620563571996-87kv33i7bheug35qjav5r7u896ptuedu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620563571996-87kv33i7bheug35qjav5r7u896ptuedu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620563571996-jabtq7ui3rck3cj3cllgoso9s8qt1egm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdhGMyJo4XMRMD4zH-6YN-XkEQE7T16s8</string>
	<key>GCM_SENDER_ID</key>
	<string>620563571996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.planMate</string>
	<key>PROJECT_ID</key>
	<string>planmate-6a840</string>
	<key>STORAGE_BUCKET</key>
	<string>planmate-6a840.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620563571996:ios:321a3df4524f79272206d9</string>
</dict>
</plist>